.group-list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  isolation: isolate;
  height: 100%;
  .editable-group {
    z-index: 1;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 2.5rem .5rem 4rem;
    gap: 0.25rem;
    flex: 1;
    min-height: 0;
  }

  .empty-state-message {
    color: var(--faded-white);
  }
  
  .floating-button-group {
    display: flex;
    gap: .5rem;
    padding: 1rem .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--grey-0);

    & > * {
      flex: 1;
      min-width: 0;
    }
  }
}