.sound-item-container {
  display: flex;
  position: relative;

  .column {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: .25rem;
  }

  .sound-item-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
  }
}