@import '../../mixins.scss';

.search-item-container {
  padding: 0.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  min-height: 3rem;
  cursor: pointer;

  &:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .title {
    display: inline-block;
    @include body-medium;

    &:hover {
      color: white;
    }
  }

  .pack-count {
    font-size: var(--font-size-small);
    color: var(--grey-5);
    margin-bottom: .25rem;
  }
}
