@import "./mixins.scss";

:root {

  --grey-0: #121212;
  --grey-1: #202020;
  --grey-2: #272727;
  --grey-3: #474747;
  --grey-4: #878787;
  --grey-5: #A7A7A7;
  --deep-blue: #18123A;
  --secondary: #2154D7;
  --primary: #0078CE;
  --accent: #FFDA22;

  --font--default: 'Alegreya Sans', sans-serif;
  --font--accent: 'Germania One';
  --font-size-small: 0.875rem;

  --background: var(--grey-0);
  // TODO: remove outdated colours
  --turbo-blue: #06CCF8;
  --azure: #0D38D4;
  --azure-glass: #06103D;
  --gradient-color-1: #F13BF4;
  --gradient-color-2: #FF7A00;
  --track: linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2));
  --faded-white: #838591;
  --font--signika: 'Signika Negative', sans-serif;
  --font--shrikhand: 'Shrikhand';
  --max-width: 560px;

  background: var(--background);
  color: white;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: var(--font--default);
}

strong {
  font-weight: 500;
}

body {
  width: 100vw;
  height: 100vh;
}

h2 {
  font-family: var(--font--accent);
  font-size: 1.5rem;
  font-weight: normal;
}

h3 {
  font-family: var(--font--accent);
  font-size: 1.125rem;
  text-transform: uppercase;
}

h4 {
  @include heading;
}

body, p, span {
  @include body;
}

a {
  color: var(--accent);
  text-decoration: none;

  &:hover {
    color: white;
  }
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.App {
  // Create a new stacking context
  isolation: isolate;
  height: 100vh;
  position: relative;

  // FIXME: deep selector
  .about-page-container {
    z-index: 1;
  }
}