@import "../mixins.scss";

.app-header-container {
  display: flex;
  align-items: center;
  padding: .25rem .5rem .25rem 0.5rem;
  justify-content: space-between;

  .logo {
    pointer-events: none;
    height: 3rem;
  }
}